body {
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/black_denim.png);
	color: #d3af37;
	font-family: 'Exo 2', sans-serif;
}
#messages {
	display: none;
	margin-top: -50px;
	font-size: 25pt;
	font-weight: 200;
}

#status-container {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: -25px;
	font-size: 20px;
	line-height: 18px;
}

#loading {
	display: inline-block;
	width: 80%;
	height: 4px;
	background-color: rgba(255,255,255,0.5);
}

#loading-progress {
	height: 100%; width: 0%;
	background-color: white;
}